/*../fonts/*/
@font-face {
  font-family: "skycons";
  src: url('../fonts/skycons.eot');
  src: url('../fonts/skycons.eot?#iefix') format('eot'),
  url('../fonts/skycons.woff') format('woff'),
  url('../fonts/skycons.ttf') format('truetype'),
  url('../fonts/skycons.svg#skycons') format('svg');

}


[class^="skycon-"]:before, //deprecate me in-favour of bem style
[class*="skycon-"]:before, //deprecate me in-favour of bem style
.skycon:before {
  font-family:"skycons";
  display:inline-block;
  vertical-align:middle;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}



.skycon-alert:before, //deprecate me in-favour of bem style
.skycon--alert:before{
  content: "\E001";
}

.skycon-arrow-down-left:before, //deprecate me in-favour of bem style
.skycon--arrow-down-left:before{
  content: "\E002";
}

.skycon-arrow-left:before, //deprecate me in-favour of bem style
.skycon--arrow-left:before{
  content: "\E003";
}

.skycon-arrow-right:before, //deprecate me in-favour of bem style
.skycon--arrow-right:before{
  content: "\E004";
}

.skycon-at:before, //deprecate me in-favour of bem style
.skycon--at:before{
  content: "\E005";
}

.skycon-calender:before, //deprecate me in-favour of bem style
.skycon--calender:before{
  content: "\E006";
}

.skycon-carousel-pause:before, //deprecate me in-favour of bem style
.skycon--carousel-pause:before{
  content: "\E007";
}

.skycon-carousel-play:before, //deprecate me in-favour of bem style
.skycon--carousel-play:before{
  content: "\E008";
}

.skycon-chevron-down:before, //deprecate me in-favour of bem style
.skycon--chevron-down:before{
  content: "\E009";
}

.skycon-chevron-left:before, //deprecate me in-favour of bem style
.skycon--chevron-left:before{
  content: "\E00A";
}

.skycon-chevron-thin-down:before, //deprecate me in-favour of bem style
.skycon--chevron-thin-down:before{
  content: "\E00B";
}

.skycon-chevron-thin-left:before, //deprecate me in-favour of bem style
.skycon--chevron-thin-left:before{
  content: "\E00C";
}

.skycon-chevron-thin-up:before, //deprecate me in-favour of bem style
.skycon--chevron-thin-up:before{
  content: "\E00D";
}

.skycon-chevron-thin:before, //deprecate me in-favour of bem style
.skycon--chevron-thin:before{
  content: "\E00E";
}

.skycon-chevron-up:before, //deprecate me in-favour of bem style
.skycon--chevron-up:before{
  content: "\E00F";
}

.skycon-chevron:before, //deprecate me in-favour of bem style
.skycon--chevron:before{
  content: "\E010";
}

.skycon-close:before, //deprecate me in-favour of bem style
.skycon--close:before{
  content: "\E011";
}

.skycon-cloud:before, //deprecate me in-favour of bem style
.skycon--cloud:before{
  content: "\E012";
}

.skycon-download:before, //deprecate me in-favour of bem style
.skycon--download:before{
  content: "\E013";
}

.skycon-edit:before, //deprecate me in-favour of bem style
.skycon--edit:before{
  content: "\E014";
}

.skycon-expand:before, //deprecate me in-favour of bem style
.skycon--expand:before{
  content: "\E015";
}

.skycon-facebook:before, //deprecate me in-favour of bem style
.skycon--facebook:before{
  content: "\E016";
}

.skycon-gallery:before, //deprecate me in-favour of bem style
.skycon--gallery:before{
  content: "\E017";
}

.skycon-google-plus:before, //deprecate me in-favour of bem style
.skycon--google-plus:before{
  content: "\E018";
}

.skycon-home:before, //deprecate me in-favour of bem style
.skycon--home:before{
  content: "\E019";
}

.skycon-info:before, //deprecate me in-favour of bem style
.skycon--info:before{
  content: "\E01A";
}

.skycon-mail:before, //deprecate me in-favour of bem style
.skycon--mail:before{
  content: "\E01B";
}

.skycon-mapmarker:before, //deprecate me in-favour of bem style
.skycon--mapmarker:before{
  content: "\E01C";
}

.skycon-menu:before, //deprecate me in-favour of bem style
.skycon--menu:before{
  content: "\E01D";
}

.skycon-minify:before, //deprecate me in-favour of bem style
.skycon--minify:before{
  content: "\E01E";
}

.skycon-mouse:before, //deprecate me in-favour of bem style
.skycon--mouse:before{
  content: "\E01F";
}

.skycon-never-miss:before, //deprecate me in-favour of bem style
.skycon--never-miss:before{
  content: "\E020";
}

.skycon-newmessage:before, //deprecate me in-favour of bem style
.skycon--newmessage:before{
  content: "\E021";
}

.skycon-on-demand:before, //deprecate me in-favour of bem style
.skycon--on-demand:before{
  content: "\E022";
}

.skycon-pending:before, //deprecate me in-favour of bem style
.skycon--pending:before{
  content: "\E023";
}

.skycon-phone:before, //deprecate me in-favour of bem style
.skycon--phone:before{
  content: "\E024";
}

.skycon-plus-circle:before, //deprecate me in-favour of bem style
.skycon--plus-circle:before{
  content: "\E025";
}

.skycon-remote-download:before, //deprecate me in-favour of bem style
.skycon--remote-download:before{
  content: "\E026";
}

.skycon-remote-record:before, //deprecate me in-favour of bem style
.skycon--remote-record:before{
  content: "\E027";
}

.skycon-search:before, //deprecate me in-favour of bem style
.skycon--search:before{
  content: "\E028";
}

.skycon-seatplan:before, //deprecate me in-favour of bem style
.skycon--seatplan:before{
  content: "\E029";
}

.skycon-share:before, //deprecate me in-favour of bem style
.skycon--share:before{
  content: "\E02A";
}

.skycon-sky-go:before, //deprecate me in-favour of bem style
.skycon--sky-go:before{
  content: "\E02B";
}

.skycon-sky-plus:before, //deprecate me in-favour of bem style
.skycon--sky-plus:before{
  content: "\E02C";
}

.skycon-sky:before, //deprecate me in-favour of bem style
.skycon--sky:before{
  content: "\E02D";
}

.skycon-speech-bubble:before, //deprecate me in-favour of bem style
.skycon--speech-bubble:before{
  content: "\E02E";
}

.skycon-stopwatch:before, //deprecate me in-favour of bem style
.skycon--stopwatch:before{
  content: "\E02F";
}

.skycon-tick:before, //deprecate me in-favour of bem style
.skycon--tick:before{
  content: "\E030";
}

.skycon-tv:before, //deprecate me in-favour of bem style
.skycon--tv:before{
  content: "\E031";
}

.skycon-twitter-favourite:before, //deprecate me in-favour of bem style
.skycon--twitter-favourite:before{
  content: "\E032";
}

.skycon-twitter-follow:before, //deprecate me in-favour of bem style
.skycon--twitter-follow:before{
  content: "\E033";
}

.skycon-twitter-reply:before, //deprecate me in-favour of bem style
.skycon--twitter-reply:before{
  content: "\E034";
}

.skycon-twitter-retweet:before, //deprecate me in-favour of bem style
.skycon--twitter-retweet:before{
  content: "\E035";
}

.skycon-twitter:before, //deprecate me in-favour of bem style
.skycon--twitter:before{
  content: "\E036";
}

.skycon-user-profile:before, //deprecate me in-favour of bem style
.skycon--user-profile:before{
  content: "\E037";
}

.skycon-video-play:before, //deprecate me in-favour of bem style
.skycon--video-play:before{
  content: "\E038";
}

.skycon-volume:before, //deprecate me in-favour of bem style
.skycon--volume:before{
  content: "\E039";
}

.skycon-warning:before, //deprecate me in-favour of bem style
.skycon--warning:before{
  content: "\E03A";
}

.skycon-whatsapp:before, //deprecate me in-favour of bem style
.skycon--whatsapp:before{
  content: "\E03B";
}