@font-face {
  font-family: "skycons";
  src: url("skycons.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "skycons";
  src: url("skycons.eot");
  src: url("skycons.eot?#iefix") format("embedded-opentype"), url("data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABmAAAoAAAAAJXgAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAAA9AAAAEMAAABWQMZNGGNtYXAAAAE4AAAAOgAAAUriRBC2Z2x5ZgAAAXQAABQxAAAdCAsLxDBoZWFkAAAVqAAAADEAAAA2AyR9uWhoZWEAABXcAAAAIAAAACQFMgMeaG10eAAAFfwAAABPAAAAzGoVAABsb2NhAAAWTAAAAGgAAABot0K+MG1heHAAABa0AAAAHQAAACABRwC7bmFtZQAAFtQAAAEkAAACCk0qbQJwb3N0AAAX+AAAAYYAAAJhPUe183icY2BkEmGcwMDKwMHowpjGwMDgDqW/MkgytDAwMDGwMjNgBQFprikMDh8ZPxoxHvh/gEGP8TCDN1CYESQHAJUBC2MAeJxjYGBgZoBgGQZGBhBwAfIYwXwWBg0gzQakGRmYGBg+Gv3/D1LwkRFE8zNA1QMBIxvDiAcApbsG6QAAeJx9WXuQHMV5n697pnse+96Znb29vX3ezdxD2r292d2R7nS7et4JgdADiZOQLCBQCPRAEnqAgzGIpIQxyJEJQdiGIrIDBvyCsqkCIYcTYDt2yk7Kf7nsVDlJuRSMVYGyK8Epwypfz96JwzGpm+np7unt+fr7vv59v69PopJ06aewBs5KGcmVpiQpmQM7B4xHgLOU3wK8HLcCbonZtOm4DsO34s1A06+7ThRHsmgw3G+2AS+31gZsfN8uR1J6T3Jor8+YuuzoSDIR74mW05yrj/VkU3IYkn2WHFZAV4nMjcTISHU0H4twWSs7Vw4PO7IKnGrwVZKPZ6dXZCdurPAQ8/atzk9dkU30Qhw69drBUR5SR25drFE1SjWZUCBAqUKJQuNEpzIF4DpgXZIkwHW+Rg7C61JBkgaKfrMKQni8zDyk8BpD6atQHGtOQt0hf9ZZ9jTn/Zr2c0oGKB0g9BdUl/tV9Wl4k3F+8QlVLXP+E4CyrMtlgJ9QWlbVJ1TWYqoElz649I9wCV6ReiTJL3KG0+PsOHH3o3koMm6ldHjwawrvUfnbhLzN1R6uPNf5pAHw9NdEg71NKcj07WDEc2CUDYlc6lx6Df4F/l4aF5YC10G1ozn8pp+yha3cCp3rqbUATcHROGiypt/E98KitRI2/bnOMRu7YLeWH12/ndJ6v19kITO9ZIrS0rIN1bvuV7S/3FFu9ampkDN+xS5Od2+68hqFJFVLYxwVfX88TsAbCqmqPAiTNEz4nunFNZAXx/QYkW/ctPjKZi81njl020GZxOOKp6ZlunXzLXcxunl6aT4aAS0RsVZC0qyulGFV3pckBW00SySYlaJSXtogfVb6Jq7SZCNQclB5zQkYS1n8j9pKifXhGF6ugLAcvsN2BObGBG0rbqY8tGwjXnfKlJe4eOk2nDoqibRIA3tLwhNKFajitGgqbyxHLJOhAm1vDL3DtE3fZFEiRpVLaEUxCOd2sNqot+dkgccjekyPBMW7H1YhLSqjotiJrbBeF9VBUcA/i/I9WdbNjXoUgFCZLFc1ORTWwoqu6BojYKiheDqRTeppGIhaRZwB4Fkm+7oiK5qhqgzdZELm+mLsYAARfTcOudEIh41pMfnay0Usont6GFAA77JAQdHZFsjyrB7pnJCBEpxX1xW6hBs60yIyyqToXFbCisK0RE/ULkJfiOAwxqIv8ZR2xEQxZQIkrB/RQgBUiTImU6rjtpNktOnv4MdwUjIkW+qXamhRdEQEGYSWClBEFqxgM4IQg0ZpoR6FPb2uibsNkGaOEHJkpltO7yJk13RQ7hXfCyXC4Sk9FEqGQnDy8qiZI52/mh+G5YqQ/kUc89EC5aMfkS/z8dL5vPGxYqQf+vgP/93N/yDN4c+vaQZ920b8SY350BxDWDA5up0LDvpQc8yGB3mSg6om1DbnndPY6DzOeUtN8hc59nPeFl2nsX4rT4oxOO+lS4gJ9e680BQIU5oDNYFool33oaIoQ0pIvijLF5WQMiTL35BluFsJy8OK8i6i8LuKMoyPF/DlAlnPizltVurOIeRLmdGuvCV+HCVodSXhcBuKhlJ3fo+NaFdMfIHSd5cCmhA1mHcWroYXJIY6cLnNbR+u/v3k2bOTF19+b/Lsq5MXJXrpvUsvESPA6Yq0DMc1A6zGnRdEG9yMAZ7iBrQFqDoumqpCEOhyxG9CS6AfwprAuSb0FwpcjaoJ7rUNNaqHVG/5R9u7/Nz4PY8fLxZTux9ZO975lXeyNdGMJQ6dOpQI52YL+T/9q/n2/f7pz83IG1ZPf/EO1zbh8Fiiv3zv6qlt26aat0mXY85XMA70Y8PBEMq7ztVEl/LGmr7tprzA0dyyKHBnqz395Zoy2gJY2xzO222nsDS100ym6lOETNVlIJtaY1fCJhsWldhUrTlNwM7kbHPPAQ5TjcYUqK1NBJbit0mApUn0CxZEPL/cKFtlpSzQsdiYx0kUYy7igfbajh/sgG/GjEjnjoiBD8iY8B2zN3LDCy+8cDCif+YzAiS+lMxkkl/SI8G+EVj9qqRJScnB9flNRMMKRMF2cbPUouA3fKsY9/yiQGBcNX7Jj8N/JJiMyGbzxEC98/6YPBZd/cvOg+8s77wSTkJcg+/wGMD+BLd1HMYSaxqd9z3ZWxmGL7wHB5Ykw52dWhxBDjZ013geZXhNUqU4Mhebu1a54VlK2ULnKlve1Wf6nxy5APbImf4zpy/Ao2cGnvzrC8MXT5/p//LwZX+8p7t37Ab+tFHHsIgehmqyzbrl8bL1Rru9bHkvxjofQeAT8vbl786sW7ycENhkJnhkauZdaU4XszhPL3KoUZy4bCNlEipGLZTR5sHyWyACECzElEoAcSYjj3wLeuSo+qgaldNwLpkByCTJzcne3s6ra3YSsnPNlChnE7ZdTqfhCF2mGoa6jKKNOs91R8OMmek8jCPX7AQQ5Vtgl3E4Lk1GjJgladzPY8gbrpP2CAnRGZll2il7zBeVFIqD3okV9Ej0D2HKIBQiuahXiOvRFAbEcgnDnaAWLfRfO+XiHFxstYbjC59GkpFSaoGnWTXLszzUKKw5kWllh3PZhh5SSIjb08W+1JrpLTN5y1YMgyU1HgU9EuXDhVit2mhFEnokNayofEAmWrzXKhgWxBK9Vl6zMPBVpoanpobXwmw4PVgbyhcBDKZFLR2MZLyScJfC+lppOJFQIlaMJTTDGkjmUjHaeT6ZyQ9V+hPpOAYtBTLfiYQTkEkM9mdTOKttDg5qzbVrB2F6emjeL0gZ7ZnCnaOBZ6Vsr+k36hjk+6BbJ6XOO513tgK7mwHfxoPntyDeeectjMHsUc4fFc+3At/4HvwB94mKs5XQS0tO1+YccRX9zUN/Q83SBWGnE04me5PJBFdDUVNVjUh070lKT+4NSkD6i68TvwD4uqED+bquw5/Pv8Syu/dxET+HbViLYa1o+xZOX0TPa9gi9LzceerFn4IZ7TwTS8L35AiFmWce/UPUBOz7w8uKMhcXZ6mIK1TiGBuleNG6/Ee99388f8PsLbvxT3ySXeZv3d9EERnQ/ZKeVXbx9rnrizru0LLt2/zbnvftCxd+lHsm/1+ed+FCFiswe8HzxnNP5zsXL1zwOFbEvBT992Uygf47JDWkVSJ2VIBXSNnhzC25TgRtkkLbNJECe1hFV84jtAlCbKciAUlr4RCO7usGzA3zG5KfyB5uyfFMMltaU4hEFINTxUxBZrwctVTTQPrj9kzk7l6xvPpbXdFSFgvKU7+hmGlQRfkNMxTlxROTY5aaikPvEqIi4QnRcL4vpEKUs+KdrRMrRrO5e36eDlmGZqSNlK5efRvRmEH3EDmEGpUUXNc5AvCGlEDPuBJ35gHUltiEdtcVurHBUUr8snc0cW9yEUfKAdG3mejHQIhmxQqqQKCwyATAbTpc8H4m1l0RG9lmKY670k41fcF0Hb/hOWz3yDIgoXBkJBsZ1fRcPAQZxmL9SmNj2ggTWDNraHrIvGKLKpezlglRpqnD3hHPsEMGZmtxZo1bgz1XVSBrNj+RTDmNoerKG8LrWjgO0691akRRTQ0BChSMRbS1CCNnXi00zAgG0jhmOIQmotF1Y2ouqvLqcgvUSDpz/3p3Omtaepir6nAuF0rrcY4Ns/nEqsGGlrBnyER9/FixZ/vx26JyiZrqYXkdxHgooffo2kEeuL+IDa+jbmfREw9jFoZa4XYbBhpl30VQnrsbLsdQkYf5u8xtTwxznSoJstngIt0MMU/w6uaM4iJVmJvUsv2G7Vdh/vb8hwyV3V5SboX9x+9MqLdfV1KuHVtEK+l0bZFc2VlkW+9MageOA9x3LKE+oHBKBPXnTEWuH2HxOIuEsErpn3yxbG4iWtlR4nMT+Tjg9hK/9cuh2mJ5rl89cB+A+PyBHQs/v0QzPvwEW/AFGbMO/n9fnMIJ7iPkvrmJtooPp6XL8X9WiiBrdgSnRaVURQ4WoKQIJ/ORjgfcpuvAsI/SlCzfxHLsN/TU/v2naFAuoke3bz9GyLHt248ekWUxgnydsSf1+QFY7usO2HaM0mMBRp+DU4irAxi7nRbNQbPhd92/QkStG2QDNijggrGMVyhlzN50IixDyIiJgwKws7k6qNFrrz8EI6MhfcQuGhqSi1I+Y5cgHE7ZSHV1XiKyL8MjJz7tMtK/cO0i3nu49nLDccuY04sb48NcvBC3435MPgF7twCiAmzBjN/4sHpswYL3z2uE0qM/+6Nx3eqvF6iw49Fj2+ZVdFnG84jKCSmHMnrcxXj8sXZZ1Tp+vHXiuwsmXExwvqOEHMX5zt9996c+1X2x7/OUfn7fNiFU93WQ43X1kQv00RasvYGsARlQhAQsU5BMD42BAOU2XczgG5hXs4/VzbpwyC4kPc3gRAnzWEgd5hE7oS5Nl1SzJxuLQ+kjahKydN3nzVgmnomrlOvsLObCWmOZpir0Stav+tH0vy7UVp0s0BbiBWLxdwkNch70ZsVtBrQc5betgLEH2YYb+NKcnCkGnacKQPZtJgNTS7KiMll9SmGD8q8Grh/KFoFs8YsTZkYznqpObt5HepdMDwA+ofCULA+yb/drGWui4G8hUOod3jXHO74PH8BZ4dMDSNBc1KLrp1BBdQebGMKEOyFXQ3GELpFNPm8WQi+BPJsqlavV6SoC7Q9TWcfznP6ec6QyXa3uj4e3IuiGr0OigwOq/YpyfRTAu2oMic/24EfzebpYvzh76ZNGpKWCN3SPTgRz9eNdC6HB3LqgepZfdz5scX/uXVcz8NPOTjOD+cMzZgZo5iswUOjth57RRaOL8stbzVWQWbdu8xWQhZs2b7wZMrDn5hv3IlQjmb3OFGQ2+GHnNEkRvPIkT2meFOkIxaso12S8SvK4jFdWWaXghfLrAc/6AOUXuYCNntgvDSMXb2IOiYzBLzEzJRRmW2Zw0IcwwTjqUUhtN6NID3xnwHdcnqKiVygbWyA67KTwUJe92VMo1IrFK9hqRVnNXq2NKW35a8rwVYXh2oG22qwOwV1tVqsNPK9sbg1Vf9farExWwV2xVVk+Ghvtzctt9n6xJqZgt3A6pig1edJpbZAn7mrJhb7KyA/ZNe2h0R3yhpYz2vmfltqoDvKG2mKDcPVSfIx0fjeUXzfE2l38OU9X4FrzaKlr0VtTIvInK1AO8uQKBOdZdjfJdH1bSQnqEw/O/KjZPRREUwkXEkSgInhocEZoBacwQleCQJG20ZvKameUpB7rj9RvYabWW47evNEo2LE0u2H1wc5b0OPoKqQdXdtTqzlbMxg0suXKSBzi8bY7WBt11vcQyMTDzmIzFp2oDDcZSZiwmyoknr/7q0ATiX2fTsQV+sjaF1QTPfR6C7dN54cDNSYrVNPyKaChmE5DarWv7DEqy6pawD49phFDq87tmQuIPV9Evw3ObtBfrWDLoEuChNu9gi66Itj28AVyx8ziq7MbvRSQw9fO3CF1z09+Cc/CiYApuw6nbveINjiigb8tqPyta1WeY8r9VKUQkeHWtMI7r93AlKzKT1EZjqrSHF9+kzyA8SgkpaVssHu6m0ccO1JxZuk2mj7SU78YL5JbPzibi4fJVO4CaGc0CIrnP/hvosPZXGc6gilwDl7JdTxd18XbQbh+bq1voI9/F3NuCQRTcbnveiCNv/7k5BNPTD75Opz70f7zn/zk+f1zOcAl2CtVpHGsMd702RzgmzY+0ca24wpsE74RwC4+heImoWl3c7ggg4On7UyvkekLFZIDo0CaO4qGFbcS4OSMkKpqI30pP2fo4+vuuiez1y/7eMFKncbyURZGJK8N6BqtDpqVgRDoUKggr+gtQCIJDiiP7TASr4gf+MHaEIQB7hVrS6JYFtJXy/2nLzxGHnz2x3DvsdCThlKJH3vtcn7zAawKzuxwbzuTUPZFwm/75eBswxYpxm2qcc2hg9dsn/jZNYZ6bmL7NQdbGn9g376b6vsf4Fr9pn3zZzS/hQ58Tqou0FL5/9ESYjBuLIEITfggmy+Gcv0R1140DmTF7W6kx8pYUBmIRHRNr5d7V/aHQ6VNi06dBkxJPhGSzYEEjyZgYlEoJC8dTS9ZHIEQuL4qk/wg8kiE71QPe2l/2J7nsP8On4LjiGlW4N3d3DHZNaMlnMtHFG1sbOB1A92zceNeChz2coDSoOhrdJ7buIeQPRs17BJHcEK7c7FaQe3F0Ve7SFkTXqIE0OcHZTvAPhHtEAEDeESyKx4CHC8Dp+30gQBUF+LKZoSvVaO+2masrYyNOfHC+mG2crTzszYi4eiqtuqPDveP1Vhb/iYbXl8YGc0pyglZhrbaGB1cNrx8i9LeIW9su9WjfUUEy5HONxo41+BfKFuWD4/+wG1vlCfvastFhMpdRDmnkF1U7u67/8T1PIIaGpHQkQbEvztEOKp0DwPNIP+xnbovoqgrFNjtrbES5cJnUsE/BmANJ2ovQDSskoipWT1pS9WMq1Tek832cMwJ8/39edV8+qFDhx7isny9aqq2kygY3IwTnqhPegm2DPsyK69ameFWVC1svXFLQYU7733sXq6H4E5DD2Js9yxA+K0435SUbooX8KBk7kPWnBQnBMLafvd4oNw9LABpwUnA3pnDlB6e6ZaRZDKbTCZUNYSiYjGx4EgA3iCH5w+nD3feEWcLvcl/A/KirgO8qBvz+DUL7wd8Pidt6GIpEo55KKXoDfhoXD66Ell18K8/4SKigYybVAky7eDfUgKHA/rtt6gDZM/DFMqLP9tcufdhSk7uXV7bmElaZI5A9gn1Mpljhq30JsJaiFCKVapqMqdh7E6ASWlztJJmep8mSAp9eM/apScW5YCe3LPn4c44FDPrM63yNjEbzvk3VDMUVVENppBoLBJOKowoBu6+rI4QA5rcY/c4MptKm0AgZseY9L+7IZ7TAAAAeJxjYGRgYADie3OmPYjnt/nKwM3EAAIX0uYtgtH/v//fyuzIeBjI5WAASwMAh+AORwAAAHicY2BkYGA88P8Agx6zHQPD/zfMjgxAERRgDACFGAVUeJxjYmBgYLRjYGDKB2IQ+x6EhmFmY6CYMZTOhoovAWIhVHVMB4BYHIiVUPWC2YZQmglqRw+aXjTMbAdVtxJId2FXw1iBxv/DwAAAiLwIeAAAAAAAAHQAqgDWAUYCMAKAArQC4AMKAzYDSAOuA+wEHAReBH4EogTyBYoFsAXqBgwGJgZSBr4HbAgcCFwImgjsCSIJhAnGCgQKZAraC2ALgAukC9YL7AxEDFoMgAzODPgNYA22DgQOhHicY2BkYGAwZljPwMUAAkxAzAVm/wfzGQAfqAIDAAAAeJxdkEtqwzAURa/zpQmEQmlHpWjUDgp2kmEWkMwzMHToOLLzsS1jKwF3BV1BV9BVdAGly+q1eJNaAuu8+44kZAC3+IGHdngYu287euSxcJ80Ex6Q74WHmOJReMT8RXiCV/jCU9zhjSd4gxsmM2TCPfK7cJ/8ITwgfwoP8YAv4RHzb+EJQvwKT/HsPdXnJjZFvdXpJYsqqWQJdVUfTaEW/lySjS50FVm9V7tG1dd0aW2iksrkam0Kq7PMqLIyJx1b/2BtuQqCRHI/NjlqnNEghkFB3kIjxYXvilB1ev+rkGZrHF2tsOA/mnecDZ3CeREs1z29HfuKvSvvWTK1SFgndAxy0trtbe2M0zApXe/EJGbu4+B2lVgh4Ew6vu9uz/8A+6BblnicbZBZk5swEIRpL9faxs7mvu87Idf+IlkMoLLQUJKA8O8DPnZfMg+a/lSlnh4Fi+BYUfD/ug4CLHCBEBFiJEhxiSVWWCPDBlvcwRXu4h7u4wEe4hEe4wme4hme4wVe4hVe4w3e4h3e4wM+4hM+4wu+4hu+I8cP/MQv/MYfXG+FtTzkBQ8m11T65ZFnuTpKq6raL4RPpdBkCrIbKSx3jnTeiqllt6jFuJY19ZbNwfEGDs5n6NrkJCOp2dF8dkU6P9AsipAK5WP62wpTpKWQtGPeJ5XQmuy4qpgrTdOozoU1NxQqU3LYCKXDhkwXN8qocoyaOdHSUE82b5Rzl3MiaibLpJ2WUKaK2poNrWajXCorNW0tNewpPwfJTmxJsi1iR8LKOnK1sBS7/ZhXnM5tdriYROZaIlnnu2630xR6JfcL31/5QXk/pShFz51VnjY3N6w1D9kZLbV63N6SH4h8cuL1tI7NW8ul0rTsVUF8+O64Z901lAzCmmmpdKiFd6Jtg+AfvqmzqAAA") format("woff"), url("skycons.ttf") format("truetype"), url("skycons.svg?#skycons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="skycon-"]:before, [class*=" skycon-"]:before {
  font-family: "skycons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.skycon-arrow-down-left:before {
  content: "\f101"; }

.skycon-arrow-left:before {
  content: "\f102"; }

.skycon-arrow-right:before {
  content: "\f103"; }

.skycon-at:before {
  content: "\f104"; }

.skycon-calender:before {
  content: "\f105"; }

.skycon-carousel-pause:before {
  content: "\f106"; }

.skycon-carousel-play:before {
  content: "\f107"; }

.skycon-chevron-down:before {
  content: "\f108"; }

.skycon-chevron-left:before {
  content: "\f109"; }

.skycon-chevron-up:before {
  content: "\f10a"; }

.skycon-chevron:before {
  content: "\f10b"; }

.skycon-close:before {
  content: "\f10c"; }

.skycon-cloud:before {
  content: "\f10d"; }

.skycon-download:before {
  content: "\f10e"; }

.skycon-edit:before {
  content: "\f10f"; }

.skycon-expand:before {
  content: "\f110"; }

.skycon-facebook:before {
  content: "\f111"; }

.skycon-gallery:before {
  content: "\f112"; }

.skycon-google-plus:before {
  content: "\f113"; }

.skycon-home:before {
  content: "\f114"; }

.skycon-info:before {
  content: "\f115"; }

.skycon-mail:before {
  content: "\f116"; }

.skycon-menu:before {
  content: "\f117"; }

.skycon-minify:before {
  content: "\f118"; }

.skycon-mouse:before {
  content: "\f119"; }

.skycon-never-miss:before {
  content: "\f11a"; }

.skycon-on-demand:before {
  content: "\f11b"; }

.skycon-pending:before {
  content: "\f11c"; }

.skycon-phone:before {
  content: "\f11d"; }

.skycon-plus-circle:before {
  content: "\f11e"; }

.skycon-remote-download:before {
  content: "\f11f"; }

.skycon-remote-record:before {
  content: "\f120"; }

.skycon-search:before {
  content: "\f121"; }

.skycon-share:before {
  content: "\f122"; }

.skycon-sky-go:before {
  content: "\f123"; }

.skycon-sky-plus:before {
  content: "\f124"; }

.skycon-sky:before {
  content: "\f125"; }

.skycon-speech-bubble:before {
  content: "\f126"; }

.skycon-tick:before {
  content: "\f127"; }

.skycon-tv:before {
  content: "\f128"; }

.skycon-twitter-favourite:before {
  content: "\f129"; }

.skycon-twitter-follow:before {
  content: "\f12a"; }

.skycon-twitter-reply:before {
  content: "\f12b"; }

.skycon-twitter-retweet:before {
  content: "\f12c"; }

.skycon-twitter:before {
  content: "\f12d"; }

.skycon-user-profile:before {
  content: "\f12e"; }

.skycon-video-play:before {
  content: "\f12f"; }

.skycon-volume:before {
  content: "\f130"; }

.skycon-warning:before {
  content: "\f131"; }

.skycon-whatsapp:before {
  content: "\f132"; }

[class^="skycon-"] {
  color: #666666;
  font-size: 16px;
  line-height: 1.125em; }

body {
  /* font size overrides */ }
  body .hover-colour:hover .skycon-sky-go, body .colour.skycon-sky-go {
    color: #44ad3a; }
  body .hover-colour:hover .skycon-remote-record, body .colour.skycon-remote-record {
    color: #ed1c24; }
  body .hover-colour:hover .skycon-never-miss, body .colour.skycon-never-miss {
    color: #0077ae; }
  body .hover-colour:hover .skycon-warning, body .colour.skycon-warning {
    color: #D21717; }
  body .hover-colour:hover .skycon-google-plus, body .colour.skycon-google-plus {
    color: #dd4c38; }
  body .hover-colour:hover .skycon-twitter, body .colour.skycon-twitter {
    color: #25a8e0; }
  body .hover-colour:hover .skycon-facebook, body .colour.skycon-facebook {
    color: #3b5998; }
  body .hover-colour:hover .skycon-tick, body .colour.skycon-tick {
    color: #6dbb00; }
  body .hover-colour:hover .skycon-chevron, body .colour.skycon-chevron {
    color: #0070a5; }
  body .hover-colour:hover .skycon-chevron-up, body .colour.skycon-chevron-up {
    color: #0070a5; }
  body .hover-colour:hover .skycon-chevron-down, body .colour.skycon-chevron-down {
    color: #0070a5; }
  body .hover-colour:hover .skycon-at, body .colour.skycon-at {
    color: #0073c5; }
  body .hover-colour:hover .skycon-cloud, body .colour.skycon-cloud {
    color: #0073c5; }
  body .hover-colour:hover .skycon-on-demand, body .colour.skycon-on-demand {
    color: #0073c5; }
  body .hover-colour:hover .skycon-sky-plus, body .colour.skycon-sky-plus {
    color: #0073c5; }
  body .hover-colour:hover .skycon-mouse, body .colour.skycon-mouse {
    color: #0073c5; }
  body .hover-colour:hover .skycon-tv, body .colour.skycon-tv {
    color: #0073c5; }
  body .hover-colour:hover .skycon-phone, body .colour.skycon-phone {
    color: #0073c5; }
  body .hover-colour:hover .skycon-edit, body .colour.skycon-edit {
    color: #0073c5; }
  body .hover-colour:hover .skycon-pending, body .colour.skycon-pending {
    color: #6dbb00; }
  body .hover-colour:hover .skycon-whatsapp, body .colour.skycon-whatsapp {
    color: #34AF23; }
  body .skycon-sky, body .skycon-chevron-down, body .skycon-chevron-up, body .skycon-menu {
    font-size: 10px; }
