@import 'base';

//your demo specific scss here
.demo-icons-table tr i {
    line-height:1.2em;
    cursor:pointer;
}
.demo-icons-table tr:hover{
    background: #eee;
}
.demo-icons-table tr:hover i[class*="skycon-"] {
    -moz-transform: scale(5);
    -webkit-transform: scale(5);
    transform: scale(5);
    overflow: visible;
    background: white;
}
.demo-icons-table td,
.demo-icons-table th{
    text-align: left;
  width: 140px;
}
.demo-icons-table td:first-child,
.demo-icons-table th:first-child{
  width: 175px;
}
.demo-icons-table th.demo-col{
    text-align: center;
}
.demo-icons-table th.demo-icon,
.demo-icons-table td.demo-icon{
    text-align: center;
  display: table-cell;

}