<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Icons</title>

    <link rel="stylesheet" href="css/demo.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<h1>Icons</h1>

<table id=wiki-skycons class="icons-table">
    <thead>
    <tr>
        <th>CSS Class</th>
        <th class="demo-col">How it looks</th>
        <th class="demo-col">with .colour</th>
        <th class="demo-col">with .hover-colour</th>
        <th class="demo-col">for designers</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(glyphs, function(glyph) { %>
    <tr >
        <td>skycon-<%= glyph.fileName %></td>
        <td class="icon"><i class="skycon-<%= glyph.fileName %>" aria-hidden=true></i></td>
        <td class="icon"><i class="skycon-<%= glyph.fileName %> colour" aria-hidden=true></i></td>
        <td class="icon hover-colour"><i class="skycon-<%= glyph.fileName %>" aria-hidden=true></i></td>
        <td class="icon"><a href="icons/<%= glyph.fileName %>.svg" target="_new" title="Right click and 'Save as...'">view</a> </td>
    </tr>
    <% }); %>
    </tbody>
</table>
</body>
</html>